<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiyuan.base2048.mapper.mybatis.AnySqlMapper">
    <select id="superManagerSelect" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>
    <update id="superManagerUpdate">
        ${sql}
    </update>
    <insert id="superManagerInsert">
        ${sql}
    </insert>
    <delete id="superManagerDelete">
        ${sql}
    </delete>
    <update id="createNewTableAndInsertData">
        ${sql}
    </update>
</mapper>